APScheduler
blinker
certifi
charset-normalizer
click
colorama
filelock
Flask
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
mpmath
networkx
numpy
opencv-python
Pillow
pytz
requests
scipy
six
sympy
torch
torchvision
typing_extensions
tzdata
tzlocal
urllib3
Werkzeug
